.Jumbotron{
    background: url('http://i66.tinypic.com/28am9fs.jpg');
    color: #fff;
    background-size: cover;
    min-height: 300px;
}

.App-body{
	text-align: center;
}

.Small {
    color: #6c757d;
    font-size: 80%;
    font-weight: 400;
    margin-bottom: 0;
}
.Small-red {
    color: red;
    font-size: 80%;
    font-weight: 400;
    margin-bottom: 0;
}

.bg-hijau{
    background-color: #0bc72a;
    color: #fff;
}
.bg-putih{
    background-color: #fff;
}
